---
import { useTranslations } from "@i18n/utils";

const lang = Astro.locals.lang;
const t = useTranslations(lang);
---

<button
  id="back-to-top"
  class="group ui-control ui-surface ui-surface-hover-dim w-fit flex pl-8 pr-3 py-1.5 flex-nowrap"
>
  <span class="ui-overlay ui-overlay-glow"></span>
  <span class="ui-overlay ui-overlay-border-soft"></span>
  <span class="ui-overlay ui-overlay-grain"></span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="z-10 absolute top-1/2 left-2 -translate-y-1/2 size-4 stroke-2 fill-none stroke-current rotate-90"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-2 group-hover:translate-x-0 group-focus-visible:translate-x-0 scale-x-0 group-hover:scale-x-100 group-focus-visible:scale-x-100 transition-transform duration-300 ease-out motion-reduce:transition-none"
    ></line>
    <polyline
      points="12 5 5 12 12 19"
      class="translate-x-1 group-hover:translate-x-0 group-focus-visible:translate-x-0 transition-transform duration-300 ease-out motion-reduce:transition-none"
    ></polyline>
  </svg>
  <div class="relative z-10 text-sm">{t("backTo.top")}</div>
</button>
