---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import LanguageToggle from "@components/LanguageToggle.astro";
import { SITE } from "@consts";
import { useTranslations } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = Astro.locals.lang;
const t = useTranslations(lang);

const homeUrl = getRelativeLocaleUrl(lang, "/").replace(/\/$/, "");
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href={homeUrl} underline={false}>
        <div class="flex items-center gap-2 font-pixel text-xs leading-normal">
          <img
            src={`${import.meta.env.BASE_URL}/favicon.ico`}
            alt=""
            class="w-6 h-6 rounded-full"
          />
          {SITE.NAME}
        </div>
      </Link>
      <div class="flex gap-2 items-center">
        <nav class="flex gap-1 text-sm">
          <Link href={getRelativeLocaleUrl(lang, "/blog")}>
            {t("nav.blog")}
          </Link>
          <span>
            {`/`}
          </span>
          <Link href={getRelativeLocaleUrl(lang, "/work")}>
            {t("nav.work")}
          </Link>
          <span>
            {`/`}
          </span>
          <Link href={getRelativeLocaleUrl(lang, "/projects")}>
            {t("nav.projects")}
          </Link>
        </nav>
        <LanguageToggle />
      </div>
    </div>
  </Container>
</header>
